.btn-timer {
    width: 80px;
    height: 38px;
}

.play-clip-button {
    width: 75px;
    font-size: small !important;
}

.play-all-button {
    width: 90px;
    font-size: small !important;
    margin-left: 5px;
}

.start-modal-btn {
    width: 150px;
}

.error-span {
    color: red;
    font-weight: bold;
}

.progress.guessed {
    background-color: #a4f0a5 !important;
}

.progress.half-guessed {
    background-color: #fbc19d !important;
}

.progress.unguessed {
    background-color: #fb9d9d !important;
}

.progress-bar.bg-guessed {
    background-color: #36a853 !important;
}

.progress-bar.bg-half-guessed {
    background-color: #f0820d !important;
}

.progress-bar.bg-unguessed {
    background-color: #d23939 !important;
}

.button-icon {
    width: 15px;
    height: 15px;
    vertical-align: initial;
}

.playback-button {
    width: 40px;
    height: 35px;
}
